@charset "utf-8";
/* CSS Document */


/* BODY */
body{
    background-color: #faf9f3;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    /*color:#999999;*/
    color:#545354;
    border-color:#d7d7d7;
    margin: 0;
    margin-top: 20px;
}

body a:link {color:#48433d; text-decoration:underline;}
body a:hover { color:#3399cc; }
body a:active { color:#48433d; }
body a:visited{ color:#48433d;}

   /*table{
        border-collapse: collapse;
    }*/

/* WRAP */
.wrap{
    margin-left:auto;
    margin-right:auto;
    width:700px;
    /* 960??*/
}


/* HEADER */
.header{

}

.header .logo{
    float:left;
}

.header .contactinfo{
    color:#48433d;
    float:right;
    font-size:18px;
    font-weight:lighter;
    text-align:right;
    height: 95px;
    line-height: 125%;
}
.header .contactinfo ul{
    margin: 5px;
}

.header .contactinfo ul li{
    padding:0; margin:0;
    list-style-type:none;
    margin-bottom:5px;
}

.header .contactinfo ul a{
    padding:0px;
    margin:0px;
    display:block;
}

.header .contactinfo a:hover{
    color:#3399cc;
}


/* HEADERNAV */

.header .headernav{
    margin-top:15px;
    width:100%;
    font-size:16px;
}

.header .headernav ul{
    padding:0;
    margin:0;
    overflow:auto;
}

.header .headernav li{
    list-style-type:none;
    display:table-cell;

    width:117px;

    text-align:center;

    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;

    padding:0px;


    vertical-align:middle;




}

.header .headernav a{
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 44px;
    /*display:inline;*/
    text-decoration:none;

    text-align: center;
    vertical-align:middle;

    /*tekst centreert niet in menu omdat
    1.Link helemaal clickable moet zijn binnenin Li object --> moet block zijn
    2.het menuitem 2 lijnen heeft --> line height werkt niet
    http://bytes.com/topic/html-css/answers/839462-vertical-align-block-link
    */


}

.header .headernav a:hover{
    color:#3399cc;
    font-weight:bold;
}

.header .headernav li:hover{
    border-bottom:2px solid #48433d;
    border-top:2px solid #48433d;
}

.active{
    color:#3399cc;
    font-weight:bold;
}


/* slider */


.slider{
    width: 640px;
    position: relative;
    padding-top: 320px;

    margin: 40px auto 80px auto;


    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider>img{
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    opacity: 0.6;
}

.slider label img{
    display: block;
}

.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

/* Home Content */

.homecontent{
    background-color:#e9e4e1;
    margin-bottom:50px;
    height:220px;

    position:relative;
    top:20px;
}

.homecontent img{
    float:left;
    padding-top:30px;
    padding-left:20px;
}

.homecontent h2{
    color:#545354;
    font-size:16px;
    font-weight:bolder;
    float:left;
    margin-top:25px;
    margin-left:50px;
}

.homecontent h3{
    color:#3399cc;
    font-size:18px;
    font-weight:lighter;
    margin-left:50px;
    float:left;
    margin-top:-5px;
}

.homecontent p{
    color:#858382;
    font-size:14px;
    float:left;
    margin-top:0px;
    margin-left:50px;
    width:300px;
}

.homecontent #homecontentwellnesslink{
    background-color:#3399cc;
    color:#ffffff;
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;

    width:150px;

    padding-left:30px;
    padding-right:30px;

    position:relative;
    float:left;
    top:60px;
    left:150px;

    box-shadow: 3px 3px 3px #888888;


}

.homecontent #homecontentbeautylink{
    background-color:#3399cc;
    color:#ffffff;
    font-size:16px;
    padding-top:5px;
    padding-bottom:5px;

    width:150px;

    padding-left:30px;
    padding-right:30px;

    position:relative;
    float:left;
    top:70px;
    left:150px;

    box-shadow: 3px 3px 3px #888888;
}

.homecontent #homecontentbeautylink:hover, #homecontentwellnesslink:hover{
    background-color: #545354;
}

.homecontent a:link {color:#ffffff; text-decoration:none;}
.homecontent a:hover { color:#ffffff; }
.homecontent a:active { color:#ffffff; }
.homecontent a:visited{ color:#ffffff;}


/*Wellness Page*/

.content-heading{
    color:#3399cc;
}

.content p{
    color:#858382;
    font-size:14px;
}

.content-faciliteiten .image-faciliteiten{
    float:left;
    margin-top:20px;
    margin-left:20px;
}

.content-faciliteiten .list-faciliteiten{
    width:350px;
    float:left;
    margin-left:10px;
}

.content-faciliteiten .list-faciliteiten ul li{
    margin-bottom:5px;
}

.table-arrangementen{
    font-size: 14px;
    border-collapse: collapse;
}

.table-arrangementen td{
    padding-bottom:10px;
    padding-left: 5px;
}


.table-arrangementen .column1{
    color:#545354;
    font-size:14px;
    font-weight:bold;
    border-bottom: solid #3399cc thin;

}

.table-arrangementen .column2{

}

.table-arrangementen .column3{
    color:#545354;
}

/**********************PAGE BEAUTY & MASSAGE *****************************/

.submenu{

}

.submenu{
    margin-top:15px;
    width:100%;
    font-size:14px;

}

.submenu ul{
    padding:0;
    margin:0;
    overflow:hidden;

}

.submenu li{


    display:table-cell;

    text-align:center;
    vertical-align:middle;
    padding-right: 5px;

    width: 120px;

    list-style-type:none;
    list-style: none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.submenu ul li a{
    display:block;
    text-decoration:none;
    color: #faf9f3;
    background-color: #3399cc;

    text-align: center;

    height: 40px;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.submenu a:hover{
    color:#faf9f3;
    background-color: #545354;
    font-weight:bold;
}

.submenu .active{
    background-color: #545354;
    color: #faf9f3;

}

.content .content-foto{
    float: left;

}

.content-foto{
    display: block;
    float: none;
    margin-right: 15px;
    margin-bottom: 15px;
}


/**********************ALGEMENE BEAUTY SUBPAGES OPMAAK *****************************/


.promotietekst1{
    color: #48433d;
}

.content .table{
    
    font-size: 14px;
}

.content .table table tr td{
    padding-bottom: 15px;
    padding-right: 10px;
    border-bottom: solid 1px #999999;
}

.content .table table tr .column1{
    color: #48433d;
}

.content .table table tr .column3{
    border-bottom: solid 1px #999999;
}

/**********************PAGE PEDICURE *****************************/

#pedicurefoto{
    margin-bottom: 15px;
    
}

/**********************PAGE ONTHARING *****************************/

#gelaatontharing{
    font-size: 14px;

}


/**********************PAGE ANDERE *****************************/
#andere-foto{
    margin-bottom: 15px;
}


/**********************PAGE CADEAUBON *****************************/
.content .content-tekst{
    display: inline-block;
}

#cadeaubonfoto{


}

#cadeaubonfoto img{

    float:none;

    display: block;

    /*width=100%;*/

    margin-top: 15px;


    margin-left:auto;
    margin-right: auto;


}

.main .content div ul li{
    margin-bottom: 10px;
}

/**********************PAGE CONTACT *****************************/
#bancontact-img{
    width: 5%;
}

.map{
    float:none;
    display: block;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/***************************************FOOTER******************************************************/

.footer{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.footer .contactinfo{
    margin-top:15px;
    font-size:14px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.footer .contactinfo ul{
    padding:0px;
    margin: 0 auto;
    display:table;
    overflow:hidden;
}

.footer .contactinfo li{
    list-style-type:none;
    display:table-cell;
    text-align:center;

    padding:4px;
    vertical-align:middle;

    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;

    float:left;
}

.footer .contactinfo a{
    color:#999999;
    display:block;
    text-decoration:underline;
    margin-top:15px;
}

.footer .contactinfo a:hover{
    color:#3399cc;
    font-weight:bold;
}



/*CLEAR*/
.clear{clear:both;}